<!DOCTYPE html>
<html>
<head>
	<title>KNX Remote Control</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<header class="jumbotron">
    <div class="container">
        <h1>KNX Remote Controler</h1>
    	<p>
            <a class="btn btn-primary btn-large" href="/control/add_device">Adicionar Dispositivo</a>
            <a class="btn btn-primary btn-large" href="/control/test_device">Testar Dispositivo</a>
            

        </p>
    </div>
</header>



</body>
</html>

