<!DOCTYPE html>
<html>
<head>
    <title>KNX Remote Control</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<header class="jumbotron">
    <div class="container">
        <h1>KNX Remote Controler</h1>
        <p>
	    <a class="btn btn-primary btn-large" href="/control">Pagina Principal</a>            
            <a class="btn btn-primary btn-large" href="/control/addDevice">Testar Dispositivo</a>
        </p>
    </div>
</header>

<div class="container">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/3KR2S3juSqU?autoplay=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

</body>
</html>
